.aboutme {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap:  50px;
}
.aboutme .title {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
}
.aboutme .text {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
}
.aboutme .text .linearcolorpurpletoyellow {
  background: linear-gradient(to right, #fa709a, #fee140),
    linear-gradient(90deg, #292929 0%, #292929 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aboutme .text .linearcoloryellowtopurple {
  background: linear-gradient(to right, #fee140, #fa709a),
    linear-gradient(90deg, #292929 0%, #292929 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aboutme .text .linearcolorbluetogreen {
  background: linear-gradient(90deg, #8fd3f4 0%, #84fab0 100%),
    linear-gradient(0deg, #292929, #292929);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aboutme .text .linearcolorgreentoblue {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%),
    linear-gradient(0deg, #292929, #292929);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aboutme .text .linearcolorbluetopurple {
  background: linear-gradient(90deg, #e0c3fc 0%, #8ec5fc 100%),
    linear-gradient(0deg, #292929, #292929);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aboutme .text .colombiacolor {
  background: linear-gradient(
      89.9deg,
      #ffe76a 6.02%,
      #65c8ff 7%,
      #65c8ff 14.18%,
      #65c8ff 20.09%,
      #ff0000 20.1%
    ),
    linear-gradient(0deg, #292929, #292929);
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
