.cards {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}
.cardsectiontitle {
  color: #292929;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
}
@media screen and (min-width: 1200px) {
  .cards .row {
    flex-direction: row;
    justify-content: center;
  }
}
.cards .firstcard {
  margin-top: 30px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #000000;
}
@media screen and (min-width: 1200px) {
  .cards .firstcard {
    border-radius: 10px;
  }
}

.cards .element {
  margin: 30px 30px;
}

.cards .firstcard .element .frame1 {
  width: 100%;
  height: 200px;
}

@media screen and (min-width: 1200px) {
  .cards .firstcard .element .frame1 {
    width: 100%;
    height: 200px;
  }
}

.cards .firstcard .cardtitle {
  margin-top: 23px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
}

.cards .firstcard .tagframes {
  margin-top: 21px;
  gap: 10px;
  display: flex;
}
.cards .firstcard .tagframes .tagframe1 {
  background: #e9dffc;
  border: 1px solid #be9ff6;
  border-radius: 12px;
}
.cards .firstcard .tagframes .tagframe1 .tagtext1 {
  padding: 5px 8px;
  color: #784dc7;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.cards .firstcard .contentframe {
  margin-top: 23px;
  background: #292929;
}
.cards .firstcard .contentframe .contenttext {
  padding: 12px 95px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
@media screen and (min-width: 1200px) {
  .cards .firstcard .contentframe .contenttext {
    padding: 12px 82px;
  }
}
